body {
    /* remove default margins and padding */
    margin: 0px;
    padding: 0px;
    background-color: rgba(11, 78, 109, 0.185)
}


/* header */

.header {
    padding: 2%;
    font-size: x-large;
    font-weight: bolder;
    text-align: justify;
}

.addButton {
    background-color: green;
    border: none;
    outline: none;
    float: right;
    padding: 1.2em 1.4em 1.2em;
    /* border radius */
    border-radius: 50%;
}

.addButton:hover {
    /* hover over the add button */
    opacity: 75%;
    background-color: darkslateblue;
}


/* container */

.conatiner {
    background-color: grey;
    width: 98vw;
    display: grid;
    grid-template-columns: 1fr;
}

.todoContainer {
    padding: 2%;
}


/* ul */

ul {
    /* remove the indentation in th UL */
    margin: 0px;
    padding: 0px;
}


/* individal todoItems */

ul li {
    cursor: pointer;
    border-radius: 5px;
    margin: 1%;
    padding: 2%;
    list-style-type: none;
    display: block;
    background-color: dodgerblue;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


/* container for new todo item input */

.newTodoDropdown {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.span-col-3 {
    grid-column: span 5;
}

.span-col-2 {
    grid-column: span 4;
}


/* input */

.newTodoDropdown input,
.newTodoDropdown button,
.searchTodoItems {
    padding: 2%;
    outline: none;
    border: none;
    margin: 1%;
}

#cancelButton {
    float: right;
}

#saveButton {
    float: right;
}


/* container for the add Todo input field */


/* search todo Items*/

.searchTodoItems {
    width: 94vw;
}

.newTodoDropdown input {
    width: 98%;
}


/* input buttons hover */

.newTodoDropdown button:hover {
    background-color: green;
}


/* container for the title of the todo item */

ul li div {
    grid-column: span 3;
}

ul li input {
    border: none;
    outline: none;
}


/* media queries  */

@media (max-width:235px) {
    .addButton {
        padding: 4.2% 5.2% 4.2%;
    }
}